body {
  background-color: rgb(238,238,238);
  font-family: "Signika Negative", serif;
  color: rgb(210,129,64);
  font-size: 20px;
  line-height: 20px;

}

h1 {
  font-family: "Signika Negative", serif;
  color: rgb(73,95,117);
  font-size: 30px;
  line-height: 30px;
}

h2, h3, h4, h5, h6 {
  font-family: "Signika Negative", serif;
  color: rgb(73,95,117);
  font-size: 20px;
  line-height: 20px;

}

a {
  color: rgb(73,95,117);
  text-decoration: none;
}

a:hover {
  color: rgb(29, 74, 116);
}

.container {
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  margin: 20px;
  border: 2px;
  border-radius: 2%;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.5);;

}

.img-circle {
  border-radius: 50%;
}
